/log

# Xcode user-specific files
xcuserdata/
*.xcuserstate
*.xccheckout
*.moved-aside

# Xcode build output
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
.AppleDouble
.LSOverride

# claude
Claude.md
